@import "_variables";

.header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  padding: 20px;
  background-color: $white-color;
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);

  &__logo {
    margin-right: 53px;
    width: 50px;
    height: 50px;
  }

  &__input {
    padding: 12px 16px;
    width: 581px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    color: $grey-color;

    &::placeholder {
      color: $grey-color;
    }
  }
}

.clients {
  margin-bottom: 40px;

  &__title {
    margin-bottom: 26px;
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
  }

  &__icon-add {
    margin-right: 10px;
    transition: 0.2s ease-in-out;
    fill: #9873ff;
  }

  &__btn-add {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 12px 26px;
    border: 1px solid $purple-color;
    color: $purple-color;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:focus-visible,
    &:hover {
      outline: none;
      background-color: $light-purple-color;
      color: $white-color;
    }

    &:active {
      border-color: $dark-purple-color;
      background-color: $dark-purple-color;
      color: $white-color;
    }

    &:focus-visible .clients__icon-add,
    &:hover .clients__icon-add,
    &:active .clients__icon-add {
      fill: $white-color;
    }
  }
}

.table {
  border-collapse: collapse;
  margin-bottom: 40px;
  width: 100%;

  &-head {
    &__cell {
      padding: 8px 20px;
      vertical-align: bottom;
      text-align: left;
      font-size: 12px;
      line-height: 17px;
      font-weight: 400;
      color: $grey-color;
      cursor: pointer;
      transition: 0.2s ease-in-out;

      &:hover {
        color: $main-color;
      }
    }

    &__cell:nth-child(1) {
      color: $purple-color;
    }
  }

  &__row {
    background-color: $white-color;
  }

  &__cell {
    padding: 20px;
    border-bottom: 1px solid rgb(200, 197, 209, 0.5);

    &--id {
      color: $grey-color;
    }
  }

  &__time {
    margin-left: 7px;
    color: $grey-color;
  }

  &__btn-edit,
  &__btn-delete {
    position: relative;
    padding-left: 16px;
    background-repeat: no-repeat;
    transition: 0.2s ease-in-out;
  }

  &__btn-edit {
    margin-right: 30px;
    background-image: url("../images/svg/edit.svg");

    &:focus-visible,
    &:hover,
    &:active {
      outline: none;
      color: $purple-color;
    }
  }

  &__btn-delete {
    background-image: url("../images/svg/delete.svg");
    &:focus-visible,
    &:hover,
    &:active {
      outline: none;
      color: $red-color;
    }
  }

  &__social {
    &-list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 5px;
      max-width: 108px;
    }

    &-item {
      display: flex;
    }

    &-btn {
      &:focus-visible .table__social-icon,
      &:hover .table__social-icon,
      &:active .table__social-icon {
        opacity: 1;
      }
    }

    &-icon {
      opacity: 0.7;
      cursor: pointer;
      transition: 0.2s ease-in-out;
    }
  }
}

.invisible {
  display: none;
}

.sort .table-head__arrow {
  transform: rotate(180deg);
}

@keyframes preloader {
  100% {
    transform: rotate(360deg);
  }
}

.fullname {
  white-space: nowrap;
}

.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
  width: 100%;
  height: 300px;
  background-color: $white-color;
}

.spinner {
  fill: transparent;
  animation: preloader 1s infinite linear;
}

.spinner-purple {
  stroke: $purple-color;
}

.spinner-red {
  stroke: $red-color;
}

.loader {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  background-color: $white-color;
}

.show-more {
  width: 16px;
  height: 16px;
  border: 1px solid $purple-color;
  border-radius: 100px;
  font-size: 8px;
}

@media (max-width: 1000px) {
  .table {
    &-head__cell {
      padding: 8px 10px;
    }

    &__cell {
      padding: 10px;
    }

    &__time {
      display: block;
      margin: 0;
    }
  }
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 30px;
    padding: 8px 0;
    justify-content: center;

    &__logo {
      margin: 0;
      width: 24px;
      height: 24px;
    }

    &__input {
      display: none;
    }
  }

  .clients {
    &__title {
      font-size: 18px;
    }
  }

  .table {
    display: block;
    overflow: auto;

    &__cell {
      margin: 20px 13px;
    }
  }
}
