$page-color: #F5F5F5;
$white-color:#FFFFFF;
$main-color: #333333;
$grey-color: #B0B0B0;
$light-grey-color: #C8C5D1;
$purple-color: #9873FF;
$light-purple-color: #B89EFF;
$dark-purple-color: #8052FF;
$red-color: #F06A4D;
$disabled-color: #C8C5D1;